@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/hinted-OpenSans-BoldItalic.eot');
    src: url('../../assets/fonts/hinted-OpenSans-BoldItalic.eot?#iefix') format('embedded-Opentype'),
        url('../../assets/fonts/hinted-OpenSans-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/hinted-OpenSans-BoldItalic.woff') format('woff'),
        url('../../assets/fonts/hinted-OpenSans-BoldItalic.ttf') format('truetype'),
        url('../../assets/fonts/hinted-OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
 }