


* {
    margin: 20;
    padding: 20;
    box-sizing: border-box;
    outline: 1px dotted #12ff12;
    outline-offset: 0px;
  }

  
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


#container {
  min-height: 100%;
  position: relative;
  height: 100%;
}

#header {
  padding: 10px;
}
#body {
  align-content: center;
  padding: 10px;
  padding-bottom: 60px; /* Height of the footer */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
}





/* start of screen stretch */
@media screen and (max-width: 450px) {
  body {
    background-color: rgb(0, 0, 0);
  }
}

/* was using diffrent colors, so I would know where box starts and ends */

@media screen and (min-width: 451px) and (max-width: 540px) {
  body {
    background-color: rgb(0, 0, 0);
  }
}

/* was using diffrent colors, so I would know where box starts and ends */

@media screen and (min-width: 541px) and (max-width: 768px) {
  body {
    background-color: rgb(0, 0, 0);
  }
}

/* was using diffrent colors, so I would know where box starts and ends */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: rgb(0, 0, 0);
  }
}

/* was using diffrent colors, so I would know where box starts and ends */

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  body {
    background-color: rgb(0, 0, 0);
  }
}

/* was using diffrent colors, so I would know where box starts and ends */

@media screen and (min-width: 1201px) and (max-width: 3000px) {
  body {
    background-color: black;
  }
}
